<section class="footer">
    <div class="footer_logo">
        <img src="/images/footerlogo.png" alt="">
        <p>Provide Your Search Weather</p>
    </div>
    <div class="hr"></div>
    <div class="copyrights">
        <p>2022-2023 © Weather. All rights reserved.</p>
    </div>
</section>