<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>navbar}}
    <section class="weather">
        <div class="searchInput">
            <input type="text" id="search" placeholder="enter city name">
            <input type="submit" value="search" id="btn">
        </div>
        <div class="cityLoaction">
            <img width="30" src="/images/gps.png" alt="">
            <p id="cityName">Bangalore</p>
        </div>
        <div class="weatherInfo">
            <div class="card" id="temperature">
                <img width="150" src="/images/sun.png" alt="">
                <p>Temperature</p>
                <span id="temperature_value">0</span><span><sup>o</sup>C</span>
            </div>
            <div class="card" id="humidity">
                <img width="150" src="/images/humidity.png" alt="">
                <p>Humidity</p>
                <span id="humidity_value">30</span><span>%</span>
            </div>
            <div class="card" id="wind">
                <img width="150" src="/images/wind.png" alt="">
                <p>Wind</p>
                <span id="wind_value">7</span><span>km/h</span>
            </div>
        </div>
    </section>
    {{>footer}}
    <script src="/js/weather.js"></script>
</body>
</html>