body{
    margin: 0px;
}

/* navbar css */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}
.nav_links li{
    display: inline-block;
    margin: 0px 20px;
}
.nav_links a{
    text-decoration: none;
    color: #203159;
    font-size: 20px;
    padding: 6px 16px;
    font-family: monospace;
}
.nav_links a:hover{
    background-color: rgb(52, 162, 235);
    color: white;
    border-radius: 8px;
}
/* navbar css */

/* home css */
.home{
    background:linear-gradient(rgba(255, 255, 255, 0.476),rgba(255, 255, 255, 0.499)), url('/images/homeBG.jpg');
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.currentTemp h1,h3{
    margin: 0px;
    color: #203159;
    font-family: cursive;
}
.currentLocation{
    display: flex;
    align-items: center;
}
.currentTemp h1{
    font-size: 120px;
}
.currentTemp h3{
    font-size: 40px;
}
.location p{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #203159;
}
/* footer */

.footer{
    padding: 20px 0px;
    text-align: center;
    background-color: #180a3f;
    color: #b1bfd1;
}
.hr{
    height: 1px;
    background-color: dimgray;
    margin: 5px 160px;
}


/* weather */
.weather{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/images/temperature.jpg');
    background-size: cover;
    height: 90vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.searchInput{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
#search{
    border: none;
    background-color: white;
    height: 40px;
    width: 600px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#search:focus{
    outline: none;
}
#btn{
    border: none;
    padding: 8px 30px;
    font-size: 20px;
    background-color:lavender;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#btn:hover{
    background-color: gainsboro;
}
.weatherInfo{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
    height: 270px;
    width: 200px;
    padding: 20px;
    text-align: center;
}
.card span,p{
    font-size: 24px;
}
.cityLoaction{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cityLoaction p{
    font-size: 30px;
}